astroid==2.8.2
certifi==2021.5.30
chardet==4.0.0
idna==2.10
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
platformdirs==2.4.0
pylint==2.11.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
requests==2.25.1
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.6
wrapt==1.12.1
